<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Specific Inquiry</h1>
<table>
    <thead>
    <tr>
        <th>년도</th>
        <th>학기</th>
        <th>교과목명</th>
        <th>교과구분</th>
        <th>담당교수</th>
        <th>학점</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.year}">년도</td>
            <td th:text="${course.semester}">학기</td>
            <td th:text="${course.name}">교과목명</td>
            <td th:text="${course.classification}">교과구분</td>
            <td th:text="${course.professor}">담당교수</td>
            <td th:text="${course.grades}">학점</td>
        </tr>
    </tbody>
</table>
</body>
</html>