<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>학년별 이수 학점 조회</title>
  <link rel="stylesheet" type="text/css" href="/css/total_grade.css">
</head>
<body>
  <header class="header">
    <h1>학년별 이수 학점 조회</h1>
  </header>
  <div class="main">
    <main class="table-container">
      <table class="grade-table">
        <thead>
        <tr>
          <th>년도</th>
          <th>학기</th>
          <th>취득 학점</th>
          <th>상세 정보</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courseDataArray}">
          <td th:text="${course.year}">년도</td>
          <td th:text="${course.semester}">학기</td>
          <td th:text="${course.grades}">취득 학점</td>
          <td class="detail-link">
            <a th:href="@{/grade-detail(year=${course.year}, semester=${course.semester})}"
               th:text="'상세 정보 보기'">상세 정보 보기</a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="2">총계</td>
          <td th:text="${totalGrades}">총 취득 학점</td>
        </tr>
        </tfoot>
      </table>
    </main>
  </div>

  <footer class="footer">
    <p>© 2024 한성대학교. All rights reserved.</p>
  </footer>
</body>
</html>
