/* 로그인 페이지 CSS */
body {
    background-image: url('static/images/login_back.png');
    background-size: cover;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

/* 로그인 컨테이너 뒤에 보이게 할 한성대 이미지 */
.background-image {
    width: 100%; /* 이미지가 부모 요소의 전체 너비를 차지하도록 */
    height: auto; /* 이미지 비율 유지 */
    position: absolute; /* 부모 요소 대비 절대 위치 */
    top: 0;
    left: 0;
    z-index: -1; /* 다른 내용 뒤에 위치하도록 */
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 40px;
    background: #222940;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-button{
    font-weight: bold;
    font-size: 15px;
}

/* 텍스트 박스 */
.input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid white; /* 하얀색 밑줄 */
    background-color: transparent; /* 배경색 투명으로 설정 */
    color: white; /* 글자 색상 */
    margin-bottom: 20px; /* 하단 여백 */
}

/* 텍스트 박스 입력시 스타일 */
.input-group input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* 플레이스홀더 색상 */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input:focus {
    outline: none; /* 포커스 시 아웃라인 제거 */
    border-bottom: 2px solid #0A84FF; /* 포커스 시 밑줄 색상 변경 */
}

/* 로그인 버튼 스타일 */
.button-container {
    text-align: center;
}

/* 로그인 버튼 스타일 */
.button-container input[type="submit"] {
    width: 100%; /* 전체 너비 */
    padding: 10px 0; /* 상하 패딩 */
    margin-top: 20px; /* 상단 여백 */
    background-color: #004a99; /* 버튼 색깔 */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container input[type="submit"]:hover {
    background-color: #003366; /* 버튼 호버 색깔 */
}

/* 로그인 컨테이너 내의 헤더 스타일 */
.login-container h1 {
    color: white; /* 글자 색상 */
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 40px; /* 하단 여백 */
}

/*이미지 하단 간격 설정용*/
.login-logo {
    display: block;
    margin: 0 auto 30px;
    width: 180px;
    height: 70px;
}

